---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About ReChat"
	description="Explain this."
	pubDate={new Date('Mar 19 2023')}
	updatedDate={new Date('Mar 19 2023')}
	heroImage="/AboutReChat.svg"
>
	<p>
		ReChat was designed for mobile/desktop use, this client was developed by Bloom (by myself who made this blog)
	</p>

	<p>
		This client was made using <code>SUID</code> and <code>Solidjs</code>, it lincesed in GPL v3
	</p>
</Layout>
